/* COMMON ELEMENTS */

:root {
   color-scheme: light dark;

   --background: #ffffff;
   --body-text: #606060;

   --special-text: #444444;
   --attribute-social-visited: #444444;
   --attribute-subscribe-hover: #444444;

   --date: #666666;
   --tagline: #666666;
   --attribute-social-hover: #666666;
   --attribute-subscribe-visited: #666666;
   --attribute-sharing: #666666;

   --attribute: #f05138;
   --attribute-visited: #f05138;
   --attribute-sharing-hover: #f05138;

   --attribute-hover: #fbaf40;
   --hr-border: #d7d7d7;

   --code: #c7254e;
   --code-background: #f9f2f4;
   --codeblock-background: #f5f5f5;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
   :root {
      --background: #1c1c1c;
      --body-text: #b2b2b2;

      --special-text: #7c7c7c;

      --tagline: #b2b2b2;

      --attribute: #f7492e;
      --attribute-hover: #f7ad2e;

      --code: #000000;
      --code-background: #959595;
      --codeblock-background: #939393;
   }
}

body {
   background-color: var(--background);
   color: var(--body-text);
   padding-bottom: 1rem;
   padding-top: 1rem;
}

body p {
   line-height: 2.7rem;
   padding: 0.5rem 0rem 0.5rem 0rem;
   font-size: 16px;
}

hr {
   border-color: var(--hr-border);
   width: 50%;
}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}

code {
   color: var(--code);
   background-color: var(--code-background);
}

/* LINKS */

a {
   color: var(--attribute);
}

a:link {
   border-bottom: 1px dotted var(--attribute);
}

a:visited {
   color: var(--attribute-visited);
   border-width: 0px;
   text-decoration: none;
}

a:hover,
.tagline a:hover,
.lead a:hover {
   color: var(--attribute-hover);
   border-color: var(--attribute-hover);
   text-decoration: none;
}

a:active {
   text-decoration:none;
}

h1 > a:link,
.sponsor a:link,
a.btn {
   border-width: 0px;
}

/* HEADER */

header {
   text-align: center;
}

header h1 {
   font-size: 50px;
   font-weight: normal;
}

header h2 {
   font-size: 15px;
   line-height: 22px;
}

.tagline a,
.lead a,
.author-name a {
   color: var(--special-text);
   border-bottom: 1px dotted var(--special-text);
}

.tagline, .lead {
   color: var(--tagline);
}

/* SPONSOR */

.sponsor p {
   padding: 0rem;
}

.sponsor {
   margin-top: 3rem;
   margin-bottom: 3rem;
}

/* POST LIST */

.post {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.post-title {
   font-size: 40px;
   font-weight: lighter;
}

.post-subtitle {
   font-size: 30px;
   font-weight: bolder;
   margin: 0rem 0rem 1.5rem 0rem;
}

.post-date {
   font-weight: normal;
   color: var(--date);
   display: inline-block;
}

.lead {
   padding: 0rem;
   margin-bottom: 2rem;
}

/* PAGES */

.sharing a,
.sharing a:visited,
.sharing a:link {
   color: var(--attribute-sharing);
}

.sharing ul li a:hover {
   color: var(--attribute-sharing-hover);
   text-decoration: none;
}

blockquote {
   color: var(--body-text);
   font-size: 16px;
   margin-left: 22px;
}

/* SUBSCRIBE */

.subscribe a,
.subscribe a:visited {
   color: var(--attribute-subscribe-visited);
}

.subscribe ul li a:hover {
   color: var(--attribute-subscribe-hover);
   text-decoration: none;
}

.subscribe ul {
   -webkit-padding-start: 0px !important;
   -webkit-margin-before: 0px !important;
   -webkit-margin-after: 0px !important;
}

.subscribe ul li {
   display: inline-block;
   padding: 0.25rem;
}

/* AUTHORS */

.posts-list {
   padding: 0px;
   margin: 0px;
   -webkit-padding-start: 4px;
}

.posts-list li {
  min-width: 70px;
  display: inline-block;
}

.post-count {
   display: inline-block;
}

/* BOTTOM ICONS */

footer a, footer a:visited,
.social a, .social a:visited {
  color: var(--attribute-social-visited);
}

.social ul li a {
  border-width: 0px;
}

.social ul li a:hover {
   color: var(--attribute-social-hover);
   text-decoration: none;
}

.social ul {
   -webkit-padding-start: 0px !important;
   -webkit-margin-before: 0px !important;
   -webkit-margin-after: 0px !important;

   -moz-padding-start: 0px !important;
}

.social ul li {
   display: inline-block;
   padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.social ul li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* iphone 6 plus */
@media (max-width: 414px) {
   header h1 {
      font-size: 46px;
   }
}

/* iphone 6 */
@media (max-width: 375px) {
   header h1 {
      font-size: 42px;
   }
}

/* iphone 5 */
@media (max-width: 320px) {
   header h1 {
      font-size: 36px;
   }

   header h2 {
      font-size: 13px;
   }
}
