/* COMMON ELEMENTS */

body {
   background-color: #ffffff;
   padding-bottom: 3rem;
}

body p {
   line-height: 2.5rem;
   padding: 0.5rem 0rem 0.5rem 0rem;
}

hr {
   border-color: #d7d7d7;
   width: 50%;
}

a {
   color: #f05138;
}

a:link {
   border-bottom: 1px dotted #f05138;
}

a:visited {
   color: #f05138;
   border-width: 0px;
   text-decoration: none;
}

a:hover {
   color: #fbaf40;
   text-decoration: none;
}

a:active {
   text-decoration:none;
}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}

/* HEADER */

header {
   margin-top: 30px;
   text-align: center;
}

header h1 {
   font-size: 50px;
   font-weight: normal;
}

header h2 {
   font-size: 15px;
   line-height: 18px;
}

h1 > a:link {
   border-width: 0px;
}

h1 > a:hover {
   text-decoration:none;
}

.tagline a {
   color: #333333;
   border-bottom: 1px dotted #333333;
}

.tagline {
   color: #666666;
}

/* POST LIST */

.post {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.post-title {
   font-size: 40px;
   font-weight: lighter;
}

.post-subtitle {
   font-size: 30px;
   font-weight: bolder;
   margin: 0rem 0rem 1.5rem 0rem;
}

.post-date {
   font-weight: normal;
   color: #666666;
   display: inline-block;
}

/* PAGES */

.sharing {
   padding: 0.5rem;
}

.sharing a,
.sharing a:visited,
.sharing a:link {
   color: #666666;
   border: 1px solid #ccc;
}

/* SOCIAL */

.social a,
.social a:visited {
   color: #666666;
}

.social ul {
   -webkit-padding-start: 0px !important;
   -webkit-margin-before: 0px !important;
   -webkit-margin-after: 0px !important;
}

.social ul li {
   display: inline-block;
   padding: 0.5rem;
}
