---
layout: default
title: Home
---

<div>
	{% for post in site.posts %}
		<article class="post">
			<h1 class="post-title text-center">
				<a href="{{ post.url }}">{{ post.title }}</a>
				<small class="post-date">{{ post.date | date_to_string }}</small>
			</h1>
			{% if post.date-updated %}
				<small class="center text-danger"><strong>Updated: {{ post.date-updated }}</strong></small>
			{% endif %}
		</article>
	{% endfor %}
</div> <!-- post-list -->

<div class="row center subscribe">
   <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <nav>
         <ul class="pager">
            <li>
               <a href="/search" title="Search issues">
               <i class="fa fa-lg fa-search"></i> Search issues</a>
            </li>
         </ul>
      </nav>
   </div> <!-- col -->
</div> <!-- row -->
