
<footer class="container container-fluid">
<hr>
    <div class="center subscribe">
        <nav>
            <ul class="pager">
            <li>
                <a href="/search" title="Search issues"><i class="fa fa-lg fa-search"></i> Search issues</a>
            </li>
            </ul>
        </nav>
    </div>
    <p class="text-muted text-center">
        <small>
        <strong>Questions? Feedback? Corrections?</strong><br/>
        Open an <a href="{{ site.links.issue }}" target="_blank">issue</a> or
        submit a <a href="{{ site.links.pull }}" target="_blank">pull request</a>
        on <a href="{{ site.links.github }}" target="_blank">GitHub</a>.
        </small>
    </p>
    <div class="row subscribe social">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
            <ul class="inline center">
                <li><a href="{{ site.links.twitter }}" title="Follow on Twitter" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="{{ site.links.github }}" title="Contribute on Github" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a></li>
                <li><a href="{{ site.links.rss }}" title="Subscribe via RSS/atom"><i class="fa fa-2x fa-rss" aria-hidden="true"></i></a></li>
                <li><a href="{{ site.links.applenews }}" title="Add to Apple News"><i class="fa fa-2x fa-apple" aria-hidden="true"></i></a></li>
            </ul>
        </div> <!-- col -->
    </div> <!-- row -->
</footer>
