
<div id="footer" class="container">
   <div class="row center">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
         <ul>
            <li><a href="/feed.xml" title="subscribe"><i class="fa fa-2x fa-rss"></i></a></li>
            <li><a href="/" title="twitter" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
            <li><a href="/archive" title="archive"><i class="fa fa-2x fa-archive"></i></a></li>
            <li><a href="{{ site.links.github }}" title="github" target="_blank"><i class="fa fa-2x fa-github"></i></a></li>
         </ul>
      </div> <!-- col -->
   </div> <!-- row -->
</div>
