
<footer class="container">
   <hr>

   <div class="center subscribe">
     <nav>
        <ul class="pager">
           <li>
              <a href="/search" title="Search issues">
              <i class="fa fa-lg fa-search"></i> Search issues</a>
           </li>
        </ul>
     </nav>
   </div>

    <p class="text-muted text-center">
       <small>
          <strong>Questions? Feedback? Corrections?</strong><br/>
          Open an <a href="{{ site.links.issue }}" target="_blank">issue</a> or
          submit a <a href="{{ site.links.pull }}" target="_blank">pull request</a>
          on <a href="{{ site.links.github }}" target="_blank">GitHub</a>.
       </small>
    </p>
</footer>
