
<header class="container">

   <div class="row">
      <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
         <h1><a href="/">{{ site.title }}</a></h1>
         <div class="tagline col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <h2>A community-driven weekly newsletter about what's happening in the Swift open source projects at <a href="https://swift.org/" target="_blank">Swift.org</a>.
            Curated by <a href="{{ site.curator.url }}" target="_blank">{{ site.curator.name }}</a> and published for free every Thursday.</h2>
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   {% include subscribe.html %}

   <hr>
</header>
