
<header class="container container-fluid">
   <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
         <h1 class="text-center"><a href="/">{{ site.title }}</a></h1>
         <div class="tagline col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <h2>A <a href="/authors">community-driven</a> weekly newsletter about what's happening in the Swift open source projects at <a href="https://swift.org/" target="_blank">Swift.org</a>.
               Curated by <a href="https://twitter.com/BasThomas" target="_blank">Bas Broek</a>. Started by <a href="https://jessesquires.com" target="_blank">Jesse Squires</a>. Published for free every other Thursday.</h2>
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   {% include subscribe.html %}

   <hr>
</header>
