<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="open source, apps, iOS, objective-c, swift, cocoa, apple, xcode, app store, software, programming, engineering, swiftlang">
    <meta name="author" content="{{ site.title }}">
    <title>
    {% if page.title == "Home" %}
       {{ site.title }} &middot; {{ site.description }}
    {% else %}
        {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>

    <!-- Open Graph -->
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="{{ site.url }}{{ site.logo }}" />
    {% if page.title == "Home" %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ site.description }}"/>
    {% else %}
    <meta property="og:title" content="{{ site.title }} {{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt | normalize_whitespace | strip_html | truncatewords: 40 }}"/>
    {% endif %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ site.logo }}" />
    <meta name="twitter:image:alt" content="{{ site.title }} logo" />
    {% if page.title == "Home" %}
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% else %}
    {% assign author = site.data.authors[page.author] %}
    <meta name="twitter:title" content="{{ site.title }} {{ page.title }}" />
    <meta name="twitter:description" content="{{ page.excerpt | normalize_whitespace | strip_html | truncatewords: 40 }}" />
    <meta name="twitter:creator" content="@{{ author.twitter }}" />
    {% endif %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="76x76" href="/ico/icon76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ico/icon120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ico/icon152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/ico/icon167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/icon180.png">

    <link rel="shortcut icon" href="/favicon.ico">

    <link type="application/atom+xml" rel="alternate" title="{{ site.title }}" href="/feed.xml" />
    <link type="application/json" rel="alternate" title="{{ site.title }}" href="/feed.json" />
    <link type="application/rss+xml" rel="alternate" title="Swift Unwrapped Podcast" href="http://simplecast.com/podcasts/2693/rss" />
</head>
