
<header class="container container-fluid">
   <div class="row">
      <div class="mx-auto col-sm-12 col-md-8 col-md-offset-2">
         <h1 class="text-center"><a href="/">{{ site.title }}</a></h1>
         <div id="newsletter_signup">
            <form action="https://sendy.appforce1.net/subscribe" method="POST" accept-charset="utf-8">
              <input type="email" name="email" id="email" class="email" placeholder="email address" required/>
              <div style="display:none;"><label for="hp">HP</label><input type="text" name="hp" id="hp"/></div>
               <input type="hidden" name="list" value="eRY2pDRVFX3fdATf2AZbaQ"/>
               <input type="hidden" name="subform" value="yes"/>
              <input type="submit" value="Subscribe" name="submit" id="submit"  class="button"/>
              </span>
            </form>
           </div>
         <div class="mx-auto tagline col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <h2>A <a href="/authors">community-driven</a> weekly newsletter about what's happening in the Swift open source projects at <a href="https://swift.org/" target="_blank">Swift.org</a>.
               Curated by <a href="https://twitter.com/fassko">Kristaps Grinbergs</a>. Started by <a href="https://jessesquires.com" target="_blank">Jesse Squires</a>, continued by <a href="https://twitter.com/BasThomas" target="_blank">Bas Broek</a>. Published for free every other Thursday.</h2>
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   {% include subscribe.html %}

   <hr>
</header>
