
<div class="alert alert-danger" role="alert">
    <h3>Inactive, on hiatus <small class="text-danger"><i>04 Jan 2018</i></small></h3>
    <p>Unfortunately, <a class="alert-link" href="/issue-100">Issue #100</a> was our last. <a class="alert-link" href="https://www.jessesquires.com/blog/swift-weekly-brief-hiatus/">We're taking a break</a>, at least for awhile. We may return in the future, but we are not making any promises. For any potential updates in the future, you can still <a class="alert-link" href="/subscribe">subscribe</a>. Thank you for your support, as a former reader or sponsor!</p>
</div>
