{% assign repository = "https://github.com/JohnSundell/IndieSupportWeeks" %}

<div class="alert alert-success" role="alert">
    <h3>A note from Bas on the <a class="alert-link" href="{{ repository }}">#IndieSupportWeeks</a></h3>
    <p>While some of you might have heard about the #IndieSupportWeeks, many of you might not have.</p>
	<p>It's an effort aimed at helping indie developers within the Apple Developer Community who have been financially impacted by the current global COVID-19 pandemic.</p>
	<p>Curating this newsletter, it was an obvious decision to take part in this effort, and to highlight some indie apps in this issue. Do check them out, as well as <a class="alert-link" href="{{ repository }}">all other awesome apps</a> on the list.</p>
	<p>If you decide to check out any of the apps — or to buy them — please also share it with the world using the #IndieSupportWeeks hashtag!</p>
	<p>On behalf of all indie developers, thank you for checking out their apps and the support!</p>
</div>
