<!--
Sources:
https://duckduckgo.com/search_box
https://muffinresearch.co.uk/adding-a-duckduckgo-search-box-to-your-blog/
-->

<div class="row">
    <div class="mx-auto col-xs-12 col-sm-10 col-md-8">
        <form name="search  justify-content-center" action="//duckduckgo.com/">
            <div class="form-group">
                <div class="input-group">
                    <input type="hidden" value="swiftweeklybrief.com" name="sites">
                    <input type="hidden" value="1" name="kh">
                    <input type="hidden" value="1" name="kn">
                    <input type="hidden" value="1" name="kac">
                    <input type="hidden" value="1" name="kc">
                    <input type="search" class="form-control" placeholder="DuckDuckGo" name="q">
                    <div class="input-group-btn"><button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
