
<div class="row center social">
   <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <ul>
         <li><a href="/feed.xml" title="subscribe"><i class="fa fa-lg fa-rss"></i> Subscribe</a></li>
         <li><a href="/" title="twitter" target="_blank"><i class="fa fa-lg fa-twitter"></i> Follow</a></li>
         <li><a href="{{ site.links.github }}" title="github" target="_blank"><i class="fa fa-lg fa-github"></i> Contribute</a></li>
      </ul>
   </div> <!-- col -->
</div> <!-- row -->
