
<div class="sharing">
   <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
         <div class="btn-group btn-group-justified" role="group">

            <div class="btn-group" role="group">
               <button class="btn btn-default disabled">Share</button>
            </div>

            <div class="btn-group" role="group">
               <a class="btn btn-default" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}%20{{ site.url }}{{ page.url }}%20via%20@{{ site.twitter.username }}%20written%20by%20@{{ author.twitter }}" target="_blank">
                  <i class="fa fa-lg fa-twitter"></i>
               </a>
            </div>

            <div class="btn-group" role="group">
               <a class="btn btn-default" href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
                  <i class="fa fa-lg fa-facebook"></i>
               </a>
            </div>

            <div class="btn-group" role="group">
               <a class="btn btn-default" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">
                  <i class="fa fa-lg fa-google-plus"></i>
               </a>
            </div>

         </div> <!-- btn group -->
      </div> <!-- col -->
   </div> <!-- row -->
</div> <!-- sharing -->
