
<div class="row subscribe">
   <div class="mx-auto col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <nav>
		<a class="btn btn-outline-secondary" href="/sponsorship" title="Become a sponsor"><i class="fa fa-star" aria-hidden="true"></i> Sponsor</a>
		<a class="btn btn-outline-secondary" href="{{ site.links.twitter }}" title="Follow us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Follow</a>
		<a class="btn btn-outline-secondary" href="/search" title="Search all issues"><i class="fa fa-search" aria-hidden="true"></i> Search all issues</a>
		<a class="btn btn-outline-secondary" href="https://swiftunwrapped.github.io" title="Swift Unwrapped"><i class="fa fa-podcast" aria-hidden="true"></i> Podcast</a>
      </nav>
   </div> <!-- col -->
</div> <!-- row -->
