
<div class="row subscribe">
   <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <nav>
         <ul class="pager">
         	<li><a href="/subscribe" title="Subscribe via Email"><i class="fa fa-envelope" aria-hidden="true"></i> Subscribe</a></li>
            <li><a href="/sponsorship" title="Become a sponsor"><i class="fa fa-star" aria-hidden="true"></i> Sponsor</a></li>
            <li><a href="{{ site.links.twitter }}" title="Follow us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Follow</a></li>
            <li><a href="https://spec.fm/podcasts/swift-unwrapped" title="Swift Unwrapped"><i class="fa fa-podcast" aria-hidden="true"></i> Podcast</a></li>
         </ul>
      </nav>
   </div> <!-- col -->
</div> <!-- row -->
