---
layout: default
---

{% assign author = site.data.authors[page.author] %}
{% assign issue_number = page.title | remove: 'Issue #' %}

<article>
    <h1 class="post-title">{{ page.title }} <small class="post-date">{{ page.date | date_to_string }}</small></h1>
    <p class="lead"><em>Written by: <a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ author.name }}</a></em></p>
    <div class="post-content">
        {{ page.content }}
    </div> <!-- post-content -->
</article>

{% include social_share.html %}
