name: CI
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Site
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2.4.0

      - name: versions
        run: |
          ruby --version
          gem --version
          bundler --version

      - name: cache
        uses: actions/cache@v2.1.7
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-

      - name: bundle install
        run: |
          gem uninstall jekyll-commonmark-ghpages
          bundle config path vendor/bundle
          bundle install --without=documentation --jobs 4 --retry 3
          echo "::add-path::/Users/runner/Library/Python/2.7/bin"

      - name: jekyll build
        run: bundle exec jekyll build

      - name: danger
        # The API token required for Danger to post comments is not available in fork PRs,
        # thus disabling Danger for such PRs. See this post for more details:
        # https://github.community/t/make-secrets-available-to-builds-of-forks/16166
        if: github.event.pull_request.head.repo.full_name == github.repository
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
        run: bundle exec danger
